.container {
  display: flex;
  justify-content: center;
}

.arrayContainer {
  display: flex;
  flex-direction: row;
}
img,p, .removeBtn {
  margin-left:20px;
  margin-top:20px
}
.deleteBtn {
  margin-top:50px;
  width:500px;
  margin-bottom: 50px;

}
button {
padding: 10px;
border:none;
background-color: #4E6C50;
color:white;
}
button:hover {
  border:2px solid #4E6C50;
  background-color: #EAC7C7;
  color: #4E6C50;
  font-weight:bold ;
}
body {
  background-color: #EAC7C7;
}
h1,h2, p {
  color:#4E6C50;
  font-weight:bold ;
}
.btn {
  display: flex;

  justify-content: space-evenly;
  
}
.slideBtn {
  width: 150px;
  margin-bottom: 50px;
}
.textBtn {
 
  background-color: #EAC7C7;
  color: #820000;
  font-weight:bold ;
}